#content{
	display: flex;
	width: 100%;
	justify-content: flex-start;
}
#header{
	width: 100%;
	text-align: center;
	align-content: center;
	justify-content: center;
}
.cat-list{
	width: 25%;
}
.cat-div{
	/*width: 75%;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	flex-direction: row;
}

.cat-pic{
	width: 600px;
	cursor: pointer;
}

.click-header{
	width: 40%;
	text-align: right;
}

.num-header{
	width: 40%;
	text-align: left;

}

.title, .nicknames-div{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	flex-direction: column;
}

.cat-item{
	cursor: pointer;
}
#admin-button{
}
#admin{
	display: flex;
	flex-direction: column;
	width: 30%;
}
.hide{
	display: none;
}
.input-wrap{
	display: flex;
	justify-content: space-between;
}
label{
	width: 25%;
	text-align: right;
	padding-right: 5px;
}
input{
	width: 75%;
}